* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(145, 184, 218);
  font-family: "Roboto", sans-serif;
}

.container-textH2 {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.container-input input {
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  border-color: white;
  outline: none;
}

.container-input {
  display: flex;
  justify-content: center;
  margin: 10rem 0 0 0;
}
.container-input input {
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  border-color: white;
  outline: none;
}

.button-add {
  background-color: greenyellow;
  border: none;
  transition: 0.6s ease-in-out;
  border-radius: 0.7rem;
  cursor: pointer;
}

.button-add:hover {
  border-radius: 2rem;
}

.ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3rem 1rem 0 0;
  list-style: none;
}

.ul li {
  background-color: aliceblue;
  width: 18rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0 0 0 2rem;
  position: relative;
}

.button-remove {
  background-color: rgba(255, 0, 0, 0.541);
  border: none;
  border-radius: 0.4rem;
  height: 1.4rem;
  width: 4rem;
  color: white;
  transition: 0.3s ease-in;
  position: absolute;
  left: 13rem;
}

.button-remove:hover {
  background-color: rgb(255, 0, 0);
}

.success {
  border: 2.5px solid forestgreen !important;
}

.error {
  border: 2.5px solid red !important;
}

.through {
  text-decoration: line-through;
}
.button-edit {
  background-color: dodgerblue;
  border: none;
  border-radius: 0.4rem;
  height: 1.4rem;
  width: 4rem;
  color: white;
  transition: 0.3s ease-in;
  position: absolute;
  left: 8rem;
}

.input-edit {
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  outline: none;
  background-color: dodgerblue;
  color: white;
}

.hidden {
  display: none;
}
